:root {
  --color-Purple600: hsl(246, 80%, 60%);

  --color-work-Orange300: hsl(15, 100%, 70%);
  --color-play-Blue300: hsl(195, 74%, 62%);
  --color-study-Pink400: hsl(348, 100%, 68%);
  --color-exercise-Green400: hsl(145, 58%, 55%);
  --color-social-Purple700: hsl(264, 64%, 52%);
  --color-selfcare-Yellow300: hsl(43, 84%, 65%);

  --color-Navy950: hsl(226, 43%, 10%);
  --color-Navy900: hsl(235, 46%, 20%);
  --color-Navy800: hsl(236, 33%, 35%);
  --color-Purple500: hsl(235, 45%, 61%);
  --color-Navy200: hsl(236, 100%, 87%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-Navy950);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  width: 100%;
  max-width: 56.25rem;
  /* 900px */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5625rem;
  /* 25px */
  margin: 0 auto;
  align-items: stretch;
}

.profile-card {
  background-color: var(--color-Navy900);
  border-radius: 0.625rem;
  /* 10px */
  width: 25%;
  height: auto;
}

.profile-top {
  padding: 1.5625rem;
  /* 25px */
  border-radius: 0.625rem;
  /* 10px */
  background-color: var(--color-Purple600);
}

.profile-top img {
  width: 3.125rem;
  /* 50px */
  height: 3.125rem;
  /* 50px */
  border-style: solid;
  border-color: white;
  border-radius: 50%;
}

.profile-top p {
  margin-top: 1.5625rem;
  /* 25px */
  font-weight: 300;
  font-size: 0.625rem;
  /* 10px */
  color: var(--color-Navy200);
}

.profile-top h2 {
  color: white;
  font-weight: 300;
  margin-bottom: 2.1875rem;
  /* 35px */
  font-size: 2.1875rem;
  /* 35px */
}

.time-filter {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  /* 20px */
  font-size: 0.9375rem;
  /* 15px */
  gap: 0.75rem;
  /* 12px */
  color: var(--color-Navy200);
}

.time-filter button {
  all: unset;
}

.time-filter button.active {
  color: white;
}

.cards-grid {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  /* 24px */
}

.card {
  position: relative;
  border-radius: 0.9375rem;
  /* 15px */
  overflow: visible;
}

.card-bg {
  position: relative;
  height: 4.6875rem;
  /* 75px */
  border-radius: 0.9375rem;
  /* 15px */
  z-index: 0;
  overflow: hidden;
}

.card-bg .habbit-icon {
  position: absolute;
  top: -0.25rem;
  /* -4px */
  right: 1.25rem;
  /* 20px */
  width: 3.4375rem;
  /* 55px */
  height: 3.4375rem;
  /* 55px */
  z-index: 0;
  opacity: 0.9;
}

.card-body {
  background-color: var(--color-Navy900);
  border-radius: 0.9375rem;
  /* 15px */
  padding: 1.5625rem 1.25rem;
  /* 25px 20px */
  margin-top: -2.5rem;
  /* -40px */
  position: relative;
  z-index: 1;
  color: white;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.9375rem;
  /* 15px */
}

.card-hours {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 0;
  /* align-items: center; */
  padding-top: 0;
}

.card-now {
  font-size: 2.5rem;
  /* 40px */
  font-weight: 300;
  margin-bottom: 0.625rem;
  /* 10px */
}

.card-previous {
  opacity: 0.7;
}



.Work {
  background-color: var(--color-work-Orange300);
}

.Play {
  background-color: var(--color-play-Blue300);
}

.Study {
  background-color: var(--color-study-Pink400);
}

.Exercise {
  background-color: var(--color-exercise-Green400);
}

.Social {
  background-color: var(--color-social-Purple700);
}

.Self-Care {
  background-color: var(--color-selfcare-Yellow300);
}

.time-filter button:hover,
.card .card-body:hover {
  cursor: pointer;
}

.time-filter button:hover {
  color: white;
}

.card .card-body:hover {
  background-color: var(--color-Navy800);
}

/* Mobile Design */

@media screen and (max-width: 36rem) {

  /* 576px */
  .dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5625rem;
    /* 25px */
    margin: 0 auto;
    align-items: stretch;
    padding: 3.4375rem 1.25rem;
    /* 55px 20px */
  }

  .cards-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    /* 24px */
  }

  .profile-card {
    width: 100%;
  }

  .profile-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
    /* 15px */
    padding: 0;
  }

  .profile-mobile {
    display: flex;
    flex-direction: column;
  }

  .profile-mobile h2 {
    font-size: 1.25rem;
    /* 20px */
  }

  .time-filter {
    display: flex;
    flex-direction: row;
    padding: 1.25rem;
    /* 20px */
    font-size: 0.9375rem;
    /* 15px */
    justify-content: space-between;
    color: var(--color-Navy200);
  }

  .card-bg {
    height: 4.6875rem;
    /* 75px */
  }

  .card-hours {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }

  .card-now {
    font-size: 1.5rem;
    /* 24px */
  }

  .card-body {
    padding: 1.25rem 1.25rem;
    /* 20px 20px */
  }

  .card-top {
    margin-bottom: 0.3125rem;
    /* 5px */
    font-size: 0.9375rem;
    /* 15px */
  }

  .card-previous {
    font-size: 0.7rem;
    /* 7.5px */
  }
}